<h1><%= @user.name %></h1>

<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= @user.points_percent %>%;">
    <%= @user.points_percent %>%
  </div>
</div>

<div>
  <h2>history</h2>
  <table class="table">
    <tr>
      <th>name</th>
      <th>points</th>
      <th>weight(g)</th>
    </tr>
    <% @user.recyclable_item.each do |i| %>
      <tr>
        <td><%= i.name %></td>
        <td><%= i.points %></td>
        <td><%= i.weight %></td>
      </tr>
    <% end %>
  </table>
</div>
